body {
  width: 100%;
  margin: 0 auto;
  padding-top: 200px;
}

.game-info {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  align-items: center;

  font-family: "Lalezar";
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-over {
  display: none;
}

.up {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}

.down {
  width: 32px;
  height: 32px;
  background-position: 32px 0;
}

.right {
  width: 32px;
  height: 32px;
  background-position: 64px 0;
}

.left {
  width: 32px;
  height: 32px;
  background-position: -65px 0;
}

#main {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.exp {
  cursor: pointer;
  margin-top: 8px;
  font-size: 13px;
}

.exp:hover {
  font-size: 14px;
}

.catimg-div {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

#about-page {
  display: none;
}

.title {
  margin: 0 auto;

  font-size: 30px;
  margin-bottom: 10px;
}

#intro-div {
  width: 500px;
  padding: 20px;
  margin: 0 auto;
}

.myCanvas {
  display: none;
  width: 100%;
  margin: 0 auto;
}

#win {
  display: flex;
  background-image: url("./lose.png");
}
