body {
  width: 100%;
  margin: 0 auto;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.game-info {
  width: 350px;
  height: 350px;
  padding: 20px 0;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: #add8e6;
  font-family: "Lalezar";
  display: flex;

  flex-direction: column;
  align-items: center;
}

.goback {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.goback:hover {
  font-size: 35px;
}

#game-over {
  width: 460px;
  height: 350px;
  display: none;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
}

.up {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}

.down {
  width: 32px;
  height: 32px;
  background-position: 32px 0;
}

.right {
  width: 32px;
  height: 32px;
  background-position: 64px 0;
}

.left {
  width: 32px;
  height: 32px;
  background-position: -65px 0;
}

#main {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.exp {
  cursor: pointer;
  margin-top: 8px;
  cursor: pointer;
  font-size: 16px;
}

.exp:hover {
  font-size: 17px;
}

.cat-logo {
  width: 25px;
  height: 25px;
}

.catimg-div {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

#about-page {
  display: none;
}

.title {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  font-size: 30px;
  margin-bottom: 10px;
}

#intro-div {
  width: 500px;
  padding: 20px;
  margin: 0 auto;
}

.myCanvas {
  display: none;
  width: 100%;
  margin: 0 auto;
}

.gonext {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}

.gonext:hover {
  font-size: 25px;
}

#win {
  display: none;
  width: 450px;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
}
